
<div class="siteWrapper">
	<div class="leftNavigation">
		<ul>
			<li><%= link_to 'Welcome' %></li>
			<li>About</li>
			<li>Albums</li>
			<li>Contact</li>
		</ul>
	</div>
	<div class="photoBlock">
		<%= image_tag("Family1.JPG", :size => "600x399", :alt => "Paul and Courtney") %>
	</div>
	<div class="clear">
	</div>
	
</div>



<!--
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->