
<div class="siteWrapper">
	<div class="leftNavigation">
		<nav>
			<ul>		
				<li><%= link_to "welcome" %></li>
				<li><a href="#" title="about">about</a></li>
				<li><a href="#" title="about">albums</a></li>
				<li><a href="#" title="about">contact</a></li>
			</ul>
		</nav>
	</div>
	<div class="photoBlock">
		<%= image_tag("Lael1.jpg", :size => "850x565", :alt => "Lael Lieder") %>
	</div>
	<div class="clear">
	</div>
	
</div>



<!--
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->