// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
	padding: 0px;
	.info {
		padding: 30px;
		float: left;
		width: 433px;
		h1 {
			font-size: 2.4em;
			margin-bottom: 42px;
			margin-top: 42px;
		}
		p {
			font-size: 1.2em;
			text-align:justify;
			text-justify:inter-word;
		}
	}
	
	img {
		float: left;
	}
}

