// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin {
	height: 525px;
	padding-left: 20px;
	overflow-y: scroll;
}