// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact {
	padding: 0;
	
	.information {
		width: 455px;
		float: left;
		font-family: 'Old Standard TT', serif;
		font-size: 1.5em;
		padding: 55px 50px 25px;
		p {
			line-height: 1.2;
			margin-bottom: 0.6em;
		}
		a {
			font-style: italic;
			color: black;
			text-decoration: none;
			float: left;
			margin-top: 8px;
			margin-left: 14px;
			&:hover {
				text-decoration: underline;
			}
		}
		.email {
			padding-bottom: 25px;
		}
		.icons {
			float: left;
			margin-left: 20px;
		}
		.twitter {
			padding: 8px 0 16px;
		}
		.facebook {
			padding-bottom: 25px;
		}
		.tumblr {
			padding-top: 8px;
		}
	}
	.stamps {
		width: 255px;
		height: 565px;
		float: left;
	}
}

