// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	width: 100%;
	height : 100%;
}

body {
	display: box;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
  	box-orient: horizontal;
	/* The content of the body is horizontally centered */
	box-pack: center;
  	/* and vertically as well ... \o/ */
 	box-align: center;
	width: 100%;
  	height : 100%;
	margin: 0px;
	padding: 0px;
}

.siteWrapper {
	background: none;
	width: 1120px;
	min-height: 399px;
}

.leftNavigation {	
	float:left;
	width: 200px;
	height: 565px;
	background: none;
	margin-right: 70px;
	font-size: 1.05em;
}

.leftNavigation nav {
	margin-top: 227px;
}

.leftNavigation ul {
	padding: 0px;
	margin: 0px;
}

.leftNavigation li {
	list-style:none;
}

.leftNavigation li a {
	display:block;
	text-align: center;
	text-decoration: none;
	color: #D2D2D2;
	font-family: Arial, Helvetica, 'sans-serif';
	padding: 4px;
}

.leftNavigation li a:hover {
	font-weight: bold;
	text-decoration: none;
}

.photoBlock
{
	float:left;
}

.clear {
	clear: both;
	line-height: 0px;
	height: 0;
	font-size: 0px;
	width: 100%;
}