<article class="about">
	<div class="info">
		<h1>allow me to introduce myself</h1>
		<p>I'm passionate about pictures!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<p>Duis orci neque, consectetur nec ultricies vel, dapibus sed turpis. Suspendisse sem neque, vestibulum sed suscipit sit amet, ultrices sed velit. Nunc ut eros id dolor malesuada porttitor.</p>
	</div>
	<%= image_tag("http://a5.sphotos.ak.fbcdn.net/hphotos-ak-ash4/311306_272478676131908_272471786132597_769545_1090578128_n.jpg", :size => "810x565", :alt => "Rooftops") %>

</article>