<header>
	<nav class="leftNavigation">
		<ul>		
			<li><%= link_to "home", root_path %></li>
			<li><%= link_to "about", about_path %></li>
			<li><%= link_to "albums", albums_path %></li>
			<li><%= link_to "contact", contact_path %></li>
		</ul>
	</nav>
	<h1 class="signature">Kate Hacker</h1>
</header>